@font-face {
    font-family: CJK-SF;
    src: url("../fnt/SourceHanSerifSC-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+2FF0-2FFF, U+3000-303F, U+3026-3029, U+3040-309F, U+30A0-30FF, U+3100-312F, U+3130-318F, U+3190-319F, U+31A0-31BF, U+31C0-31EF, U+31F0-31FF, U+3400-4DBF, U+4E00-9FFF, U+A960-A97F, U+AC00-D7AF, U+D7B0-D7FF, U+F900-FAFF, U+FF00-FFEF, U+1AFF0-1AFFF, U+1B000-1B0FF, U+1B100-1B12F, U+1B130-1B16F, U+20000-2A6DF, U+2A700-2B739, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2EBF0-2EE5D, U+2F800-2FA1F, U+30000-3134A, U+31350-323AF;
}

@font-face {
    font-family: CJK-SF;
    src: url("../fnt/SourceHanSerifSC-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+2FF0-2FFF, U+3000-303F, U+3026-3029, U+3040-309F, U+30A0-30FF, U+3100-312F, U+3130-318F, U+3190-319F, U+31A0-31BF, U+31C0-31EF, U+31F0-31FF, U+3400-4DBF, U+4E00-9FFF, U+A960-A97F, U+AC00-D7AF, U+D7B0-D7FF, U+F900-FAFF, U+FF00-FFEF, U+1AFF0-1AFFF, U+1B000-1B0FF, U+1B100-1B12F, U+1B130-1B16F, U+20000-2A6DF, U+2A700-2B739, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2EBF0-2EE5D, U+2F800-2FA1F, U+30000-3134A, U+31350-323AF;
}

@font-face {
    font-family: CJK-SS;
    src: url("../fnt/SourceHanSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+2FF0-2FFF, U+3000-303F, U+3026-3029, U+3040-309F, U+30A0-30FF, U+3100-312F, U+3130-318F, U+3190-319F, U+31A0-31BF, U+31C0-31EF, U+31F0-31FF, U+3400-4DBF, U+4E00-9FFF, U+A960-A97F, U+AC00-D7AF, U+D7B0-D7FF, U+F900-FAFF, U+FF00-FFEF, U+1AFF0-1AFFF, U+1B000-1B0FF, U+1B100-1B12F, U+1B130-1B16F, U+20000-2A6DF, U+2A700-2B739, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2EBF0-2EE5D, U+2F800-2FA1F, U+30000-3134A, U+31350-323AF;
}

@font-face {
    font-family: CJK-SS;
    src: url("../fnt/SourceHanSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    unicode-range: U+2E80-2EFF, U+2F00-2FDF, U+2FF0-2FFF, U+3000-303F, U+3026-3029, U+3040-309F, U+30A0-30FF, U+3100-312F, U+3130-318F, U+3190-319F, U+31A0-31BF, U+31C0-31EF, U+31F0-31FF, U+3400-4DBF, U+4E00-9FFF, U+A960-A97F, U+AC00-D7AF, U+D7B0-D7FF, U+F900-FAFF, U+FF00-FFEF, U+1AFF0-1AFFF, U+1B000-1B0FF, U+1B100-1B12F, U+1B130-1B16F, U+20000-2A6DF, U+2A700-2B739, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2EBF0-2EE5D, U+2F800-2FA1F, U+30000-3134A, U+31350-323AF;
}

@font-face {
    font-family: LAT-SF;
    src: url("../fnt/IBMPlexSerif-Regular.woff2") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: LAT-SF;
    src: url("../fnt/IBMPlexSerif-Italic.woff2") format("woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: LAT-SF;
    src: url("../fnt/IBMPlexSerif-Bold.woff2") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: LAT-SF;
    src: url("../fnt/IBMPlexSerif-BoldItalic.woff2") format("woff");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: LAT-SS;
    src: url("../fnt/IBMPlexSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: LAT-SS;
    src: url("../fnt/IBMPlexSans-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: LAT-SS;
    src: url("../fnt/IBMPlexSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: LAT-SS;
    src: url("../fnt/IBMPlexSans-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: LAT-MS;
    src: url("../fnt/IBMPlexMono-Regular.woff2") format("woff2");
    size-adjust: 91%;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: LAT-MS;
    src: url("../fnt/IBMPlexMono-Italic.woff2") format("woff2");
    size-adjust: 91%;
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: LAT-MS;
    src: url("../fnt/IBMPlexMono-Bold.woff2") format("woff2");
    size-adjust: 91%;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: LAT-MS;
    src: url("../fnt/IBMPlexMono-BoldItalic.woff2") format("woff2");
    size-adjust: 91%;
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: LAT-MT;
    src: url("../fnt/IBMPlexMath-Regular.woff2") format("woff2");
}
